@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  scroll-padding-top: 80px;
  scroll-behavior: smooth;
}

.heroText {
  color: #111111;
}

.heroText2 {
  color: #3CCF91;
}

.slide {
  -webkit-animation: slide .6s cubic-bezier(0.2, 0.6, 0.2, 1);
  -moz-animation: slide .6s cubic-bezier(0.2, 0.6, 0.2, 1);
  animation: slide .6s cubic-bezier(0.2, 0.6, 0.2, 1);
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
}

/* ------ Delays ------ */
.delay01 {
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
}

.delay02 {
  -webkit-animation-delay: .6s;
  animation-delay: .6s;
}

.delay02 {
  -webkit-animation-delay: .8s;
  animation-delay: .8s;
}

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10vh);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

@keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10vh);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
